html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
  
:root{
    --corfontepadrao:rgba(22, 53, 100, 0.932);
    --corvermelho: rgba(255, 0, 0, 0.719);
}

body{
    background-color: black;
}

.p5Canvas {
    margin:0px;
    padding: 0px;
    position:absolute;
    z-index: -10;
    top:0px;
}

.header {
    text-align:center;
}

.banner{
    max-width: 80%;
    position:relative;
    object-fit: cover;
    box-shadow: 0px 0px 150px var(--corvermelho);
}

.rede_icone{    
    height:80px;
    margin: 15px; 
}

.redes_sociais_div{
    margin: 0 10vw;
}

.redes_sociais_div ul{
    justify-content:space-between;
    text-align:center;
}
ul li{
    margin-bottom: 1.5rem;
}

#deezer{
    filter: invert(1);
}

h1{
    font-size: 3rem;
    font-weight: bold;
    color:white;
    margin: 1rem 0 1rem;
}

p{
    color:white;
    text-decoration: rgb(255, 0, 0);
}

@media only screen and (min-width: 768px){
    .banner{
        max-width: 90%;
    }
    .redes_sociais_div ul{
        display:flex;
    }   
    
    .redes_sociais_div ul li{
        border-bottom: 0px;
    }
}
